.name-app{
	font-weight: bold;
}

.wall{
	background-color: #E6E6E6;
}

.topics-column{
	
	float: none;	
	margin: 0 auto;
}
#button-save, #button-new {

	float: right;
	width: 100%;
	background-color: #0B610B;
	margin-bottom: 6%;
	border-color: #0B610B;

}

#header{
	background-color: #3B0B39; 
}

#name-app{
	color: white;
	font-weight: bold;
	font-size: x-large;
}
#user-header{
	color: white;
	font-weight: bold;
	font-size: medium;
}

#user-header:hover {
	background-color: #3B0B39;
}

#user-header:focus{
	background-color: #3B0B39;
}



/*Forums and topics*/

.forum-topic{
	height: 120px;
	padding: 2%;
	margin:5%;
	color:white;
	border-radius: 8px;
	opacity: 0.9;
}


.forum * , .container-forums {
	color: white;
	text-align: center;
}

a:hover{
	text-decoration: none;
}

.container-forums ul li a{
	text-decoration: none;
}
.container-forums{
	text-align: center;
}

/*Colores*/

.green{
	
}
.black{
	background-color:#151515 /*#424242*/;
	
}


